bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

.idea/
/.vs
/src/Fake.AspNetCore/Properties/launchSettings.json
/src/Fake.ObjectMapping.Mapster/FodyWeavers.xml
/src/Fake.ObjectMapping.Mapster/FodyWeavers.xsd
/simple/SimpleWebDemo/SimpleWebDemo.csproj.user
